.form-container {
	padding: 1.25rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 10%;
}

.form-title {
	height: 2.1875rem;
	width: 20rem;
	max-width: 30rem; /* Limiter la largeur pour éviter qu'elle ne devienne trop large */
	border: 1px solid lightgray; /* Augmenter légèrement l'épaisseur de la bordure */
	background-color: #f7f7f7;
	border-radius: 10px; /* Légèrement réduire le rayon de la bordure */
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	padding: 0.5rem 1rem; /* Ajouter un peu de rembourrage pour plus d'espace à l'intérieur */
	letter-spacing: 0.5px; /* Réduire légèrement l'espacement entre les lettres */
	font-size: 1rem; /* Utiliser une taille de police plus petite pour une apparence plus équilibrée */
	box-sizing: border-box; /* Inclure la bordure et le padding dans la largeur et la hauteur */
	outline: none; /* Supprimer la bordure autour du champ lorsque focus */
  }

.form-title:focus {
	border: 1px solid #51C4D3; /* Couleur de la bordure lorsqu'il est en focus */
  background-color: #ecf0f1;
}

.form-title::placeholder {
	font-family: consolas;
}

.form-footer {
	margin: 1.25rem;
	display: flex;
	gap: 1rem;
}

.btn {
	cursor: pointer;
	height: 1.875rem;
	width: fit-content;
	border: 0.0625rem solid grey;
	border-radius: 0.625rem;
	background-color: #ac1e1e;
	margin-right: 0.625rem;
}

.new-question-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-items: center;
	gap: 1rem;
	width: 35rem;
}

.new-question-header {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.new-question-input {
	height: 1.875rem;
	width: 25rem;
	border-radius: 0.625rem;
	border: 0.5px solid lightgray;
	padding: 0px 1rem;

}



.new-question-input::placeholder {
	font-family: consolas;
}

.new-question-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.select-question-type-container {
	display: flex;
	gap: 1rem;
	align-items: center;
	width: 100%;
}

.select-question-type {
	height: 1.875rem;
	border-radius: 10px;
	border: 0.5px solid lightgray;
}

.options-input {
	margin-top: 0.5rem;
}

.option {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 7px;
	justify-content: center;
	align-items: center;
}

.optionInput {
	height: 1rem;
	width: 1rem;
}

.form-body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 50rem;
}
